$c-green: #60ffc6;

$c-grey: #2b2b2b;
$f-ibm: "IBM Plex Sans", sans-serif;
$f-pop: "Poppins", sans-serif;

$screen-sm: 600px;
$screen-md: 800px;
$screen-lg: 1000px;
$screen-xl: 1200px;
$screen-custom: 1100px;
